@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
#searchBar {
    text-align: center;
    background-image: url("bg.png");
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
#text {
    margin: 0;
    padding: 60px 0 60px 0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}