@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
#searchBar {
    text-align: center;
    background-image: url("bg.jpg");
    height: 60vh;
}
#text {
    margin: 0;
    padding: 120px 0 120px 0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}